main {
    margin-bottom: 90px;
    padding: 5%;
}

table,
th,
td {
    border: 0;
    padding: 5px;
}
table {
    border-spacing: 15px;
    width: 100%;
}
@media (max-width: 767px) {
    #content .modal.fade.in {
        top: 5%;
    }
}

.search-engine {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.search-bar {
    height: 4em;
}

.search-bar:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.sort-btn {
    margin-top: 0.5em;
    font-size: 1em;
    padding: 4px;
    border-radius: 10px;
}
