h2 {
  text-align: center;
}

#first-row {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

#second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
}

#second-row div {
  text-align: center;
}

#third-row {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.date-row {
  display: flex;
  justify-content: space-between;
}

.more {
  display: none;
}

.food-row {
  display: flex;
  flex-direction: row;
}

.food-info {
  width: 13ch;
}

/* img {
    height: 75vw;
    object-fit: cover;

} */

table {
  font-size: 80%;
  width: 100%;
  border: 0;
  padding: 5px;
}

#today-container {
  margin-bottom: 20%;
}
