main {
  padding-top: 80px;
}

#carbs {
  background-color: yellow;
  height: 15px;
}

#sugars {
  background-color: red;
  height: 15px;
}

#protein {
  background-color: blue;
  height: 15px;
}

h2 {
  text-align: center;
}

#intake-display {
  background-color: #488747;
  position: fixed;
  top: 10%;
  width: 100vw;
  z-index: 1;
}

#first-row {
  display: flex;
  justify-content: center;
  padding: 0 12px;
}

#kcal-display {
  position: relative;
  top: -40px;
  width: 600px;
  height: 220px;
  user-select: none;
}

#second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
  color: #fff;
  padding: 0 12px;
}

#second-row div {
  text-align: center;
}

#separator {
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100vw;
  top: 20vh;
  z-index: 0;
  position: relative;
  background-color: #488747;
}

#profile-container {
  padding: 20px 12px 100px;
  position: relative;
  top: 88px;
  border-radius: 50px 50px 0 0;
  background: white;
  z-index: 2;
}

.date-row {
  display: flex;
  justify-content: space-between;
}

.more {
  display: none;
}

.food-row {
  display: flex;
  flex-direction: row;
}

.food-info {
  width: 13ch;
}

/* img {
    height: 75vw;
    object-fit: cover;

} */

table {
  font-size: 80%;
  width: 100%;
  border: 0;
  padding: 5px;
}

#today-container {
  margin-bottom: 20%;
}
