html,
body {
    min-height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div div a {
    text-decoration: none;
}
