html,
body,
main {
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container,
#user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout-btn,
.edit-btn {
    margin-top: 2em;
}

.user-img {
    height: 30%;
    width: 30%;
}
