aiofiles==0.8.0
autopep8==1.6.0
httptools==0.3.0
multidict==5.2.0
numpy==1.21.4
opencv-python==4.5.4.60
Pillow==8.4.0
pip==21.3.1
pycodestyle==2.8.0
sanic==21.9.3
sanic-routing==0.7.2
setuptools==58.1.0
toml==0.10.2
ujson==4.3.0
uvloop==0.16.0
websockets==10.1
pytesseract==0.3.8
